@import "./variables";
@import "./pages";
@import "./sidebar";
@import "./navbar";
@import "./library";
@import "./player";

/* CSS */

html,
window,
document {
    //background: transparent;
}

body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

a {
    color: #fefefe;
    text-decoration: none;
    font-size: 1.2em;
    &:hover {
        color: #cfcfcf;
    }
    &:active {
        color: #3333ff;
    }
}

#app {
    width: 100vw;
    height: 100vh;
    background: $app-bg;
    color: $app-font-color;
    padding-top: $navbarTop-height;
    z-index: 0;
}

.Separator {
    height: 0;
    width: 90%;
    border-top: solid 1px #666;
    padding: 5px;
}
